@import 'mixins/ratio';

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'Clear Sans', 'Helvetica Neue', sans-serif;
    line-height: 1;
}

body {
    background: $white;
    color: $gray-dark;
    font-size: 16px;
    font-fammily: sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    color: $gray-darker;
    margin: 4rem 0 0.5rem 0;
}

h1, h2, h3, h4, h5, h6, p, li {
    line-height: 1.5;
    transition: font-size $normal-transition $easing;
}

h1 {
    font-size: 8rem;
    margin: 0.33rem 0 0 0;
    text-transform: uppercase;
    color: $blue;

    .logo {
        float: right;
        width: 6rem;
        height: 12rem;
        color: $red;
    }
}

h2 {
    font-size: 2.5rem;
}

h1 + h2 {
    color: $gray-dark;
    margin-top: -1rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

h3 {
    font-size: 2rem;
}

h4 {
    margin: 1.5rem 0 0.5rem 0;
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
    display: inline;
}

p {
    margin: 0.5rem 0;
    padding: 0;
    text-align: justify;
}

a {
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.25);
    transition: all $fast-transition $easing;
}

a:hover {
    color: $black;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 1);
}

a:focus {
    color: $red-dark;
    background: transparentize($red, 0.9);
    box-shadow: inset 0 0 0 1px transparentize($red, 0.95);
    outline: none;
    border-radius: 2px;
}

abbr,
abbr[title] {
    border-bottom: 0;
    text-decoration: none !important;
}

input {
    font-size: inherit;
}

button:active {
    outline: none;
}

::-webkit-selection {
    color: $white;
    background: $red;
}

::-moz-selection {
    color: $white;
    background: $red;
}

::selection {
    color: $white;
    background: $red;
}

/*
 * -----------------------------------------------------------------------------
 * General styles, i.e. classes
 * -----------------------------------------------------------------------------
 */

.blue {
    color: $blue;
}

.centered {
    text-align: center;
}

svg.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin: 2rem 1rem;
}

.abstract {
    text-align: justify;
}

.hidden-anchor {
    position: absolute;
    top: 0;
    left: -0.5rem;
    bottom: 0;
    width: 0.5em;
    opacity: 0.33;
    transform: scale(0);
    transition: all $fast-transition $easing;
    box-shadow: none !important;

    > .icon {
        height: 100%;
        width: 100%;
    }
}

h3:hover .hidden-anchor,
h3:target .hidden-anchor {
    transform: scale(1);
}

.hidden-anchor:hover,
h3:target .hidden-anchor {
    opacity: 1;
}

h3.anchored {
    transition: all $fast-transition $easing;
}

h3.anchored:hover,
h3.anchored:target {
    padding-left: 1rem;
}

.note {
    color: $gray-medium;
    font-style: italic;
}

.no-list-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

.underlined {
    position: relative;

    &:after {
        position: absolute;
        display: block;
        content: '';
        bottom: -1px;
        left: -1rem;
        right: -1rem;
        height: 2px;
        background: $gray-lighter;
    }
}

h3.iconized,
h4.iconized,
h5.iconized {
    position: relative;
    display: block;

    > * {
        display: block;
        float: left
    }

    > .icon {
        height: 100%;
        width: 1em;
        margin-right: 0.25em;
    }
}

h3.iconized {
    height: 3rem;
}

h4.iconized {
    height: 1.5rem;
}

h5.iconized {
    height: 1.25rem;
}


ol.iconized,
ul.iconized {
    position: relative;
    overflow: auto;

    li {
        position: relative;
        overflow: auto;

        > * {
            display: block;
            float: left
        }

        > *:last-child {
            margin-right: 0.5em;
        }

        .icon {
            height: 1.5em;
            width: 1em;
            margin-right: 0.25em;
        }
    }
}

.icon-inline {
    display: inline;
    width: 0.8em;
    height: 0.8em;
    line-height: 1.5em;
    vertical-align: center;
}

.inline-list li {
    display: inline;
}

// Also known as `social-links`. But anything containing `social` will be
// removed by adblockers.
.remix-links {
    font-size: 0.85em;
}

.date {
    display: block;
}

.two-authors li:first-child:after {
    content: ' and ';
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.reference .secondary-information {
    font-size: 0.85em;
}

/*
 * -----------------------------------------------------------------------------
 * Specific styles, i.e. IDs
 * -----------------------------------------------------------------------------
 */

#authors-list h4 + p {
    margin-top: -0.25rem;
}

#footer {
    margin-top: 1rem;
    padding: 2rem 0;
    font-size: 0.85em;
    color: $white;
    background: $blue;
    box-shadow: inset 0 6rem 6rem -6rem rgba(0, 0, 0, 0.66);

    a {
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.25);
    }

    a:hover {
        color: $white;
        box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 1);
    }

    .logo {
        color: $white;
    }
}

#youtube {
    @include ratio(560, 310);
}

/*
 * -----------------------------------------------------------------------------
 * Media Queries
 * -----------------------------------------------------------------------------
 */

/* 568px (Pure.css Grid: SM) */
@media screen and (min-width: 35.5em) {

}

/* 640px */
@media screen and (min-width: 40em) {
    body {

    }

    .content {
        margin-left: 8.3334%;  /* 1/12 */
        margin-right: 8.3334%;
    }

    .video {
        width: 90%;
    }
}

/* 960px */
@media screen and (min-width: 60em) {
    body {
        font-size: 18px;
    }

    .content {
        margin-left: 11.1112%;  /* 1/9 */
        margin-right: 11.1112%;
    }

    .video {
        width: 80%;
    }
}

/* 1280px */
@media screen and (min-width: 80em) {
    body {
        font-size: 20px;
    }

    .content {
        margin-left: 16.66667%;  /* 1/6 */
        margin-right: 16.66667%;
    }

    .video {
        width: 70%;
    }
}

/* 1600px */
@media screen and (min-width: 100em) {
    body {
        font-size: 22px;
    }

    .content {
        margin-left: 20%;  /* 1/5 */
        margin-right: 20%;
    }
}
