html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'Clear Sans', 'Helvetica Neue', sans-serif;
    line-height: 1;
}

body {
    margin: 2rem 1rem;
    background: $white;
    color: $gray-dark;
    font-size: 16px;
    font-fammily: sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    color: $gray-darker;
    margin: 1.667rem 0 0.667rem 0;
}

h1, h2, h3, h4, h5, h6, p, li {
    line-height: 1.5;
    transition: font-size $normal-transition $easing;
}

h1 {
    font-size: 8rem;
    margin: 0.33rem 0 0 0;
    text-transform: uppercase;
    color: $blue;
}

h2 {
    font-size: 2.5rem;
}

h1 + h2 {
    color: $gray-dark;
    margin-top: -1rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
    display: inline;
}

p {
    margin: 1rem 0;
    padding: 0;
    text-align: justify;
}

a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: inherit;
    text-decoration: none;
    transition: all $normal-transition $easing;
}

a:hover {
    color: $black;
    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 1);
}

a:focus {
    background: rgba(0, 0, 0, 0.1);
    border: 1px rgba(0, 0, 0, 0.25) dotted;
    outline: none;
}

abbr,
abbr[title] {
    border-bottom: 0;
}

input {
    font-size: inherit;
}

button:active {
    outline: none;
}

::-webkit-selection {
    color: $white;
    background: $red;
}

::-moz-selection {
    color: $white;
    background: $red;
}

::selection {
    color: $white;
    background: $red;
}

.video {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    min-height: 315px;
    background: $white;
}

p.abstract {
    text-align: justify;
}

.no-list-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

.inline-list li {
    display: inline;
}

#authors h4 {
    color: $blue;
}

/*
 * -----------------------------------------------------------------------------
 * Media Queries
 * -----------------------------------------------------------------------------
 */

/* 568px (Pure.css Grid: SM) */
@media screen and (min-width: 35.5em) {

}

/* 640px */
@media screen and (min-width: 40em) {
    body {
        margin-left: 8.3334%;  /* 1/12 */
        margin-right: 8.3334%;
    }

    .video {
        width: 90%;
    }
}

/* 960px */
@media screen and (min-width: 60em) {
    body {
        font-size: 18px;
        margin-left: 11.1112%;  /* 1/9 */
        margin-right: 11.1112%;
    }

    .video {
        width: 70%;
    }
}

/* 1280px */
@media screen and (min-width: 80em) {
    body {
        font-size: 20px;
        margin-left: 16.66667%;  /* 1/6 */
        margin-right: 16.66667%;
    }

    .video {
        width: 50%;
    }
}

/* 1600px */
@media screen and (min-width: 100em) {
    body {
        font-size: 22px;
        margin-left: 20%;  /* 1/5 */
        margin-right: 20%;
    }
}
