$easing: cubic-bezier(0.25, 0.1, 0.25, 1);
$fast-transition:   0.15s;
$normal-transition: 0.2s;
$medium-transition: 0.3s;
$slow-transition:   0.6s;


$white: #fff;
$black: #000;

$gray-darker: #333;
$gray-dark: #666;

$blue: #214050;
$red: #9e0927;
